<%=form_for(@service, html: {multipart: true}) do |f| %>
<div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :Nom_activité %> <span style="color:red">*</span>
      <%= f.text_field :title, class:'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :Prix %><span style="color:red">*</span>
        <%= f.number_field :price, class:'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :Description %> <span style="color:red">*</span>
        <%= f.text_field :description, class:'form-control' %>
      </div>
              <span class="picture">
                <%= f.file_field :image1 %>
              </span>
              <span class="picture">
                <%= f.file_field :image2 %>
              </span>
              <span class="picture">
                <%= f.file_field :image3 %>
              </span>
              <span class="picture">
                <%= f.file_field :image4 %>
              </span>
                      <div class="form-group">
                          <%= f.hidden_field :centre_id, :value => current_user.id, class:'form-control' %>
                        </div>
                        <div class="form-group">
                            <%= f.hidden_field :centre, :value => true, class:'form-control' %>
                          </div>
      <div class="actions">
        <%= f.submit "Valider ma prestation", class:'btn btn-defult' %>
      </div>
  </div>
  <%end%>
