<div class="container-fluid gmap-pop">
<h1> <%=centre.name %> </h1>
<ul>
  <% centre.services.each do |service| %>
	<li><span>Adresse: </span> <%= centre.address %></li>
  <li><span>Prix: </span> <%= service.price %>€</br></li>
  <li><span>Catégorie: </span> <%= service.category.try(:name) %></li>
</ul>
  <%= link_to 'Voir', service_path(service), method: :get, class:'btn btn-success voir-button' %>
<% end %>
</div>
