<h1> <%=link_to centre.name, centre %> </h1>
	<%= centre.address %></br>
	
  <% centre.services.each do |service| %>

  <%= service.price %>$</br>
  <%= service.category.try(:name) %></br>
  <%= link_to 'Réserver', service_path(service), method: :get %>

  
<% end %>
       



