    <p><% @services.each do |service|%></p>
      <div class="div">
        <h2><%= service.title %></h2>
        <p> price: € <%= service.price%></p>
        <p> Categorie: <%= service.category %></p>
        <p> Adresse: <%= service.centre.user.address %></p>
        <%= link_to 'Réserver', service, class:'btn btn-success'%>
      </div>
    <% end %>
    <br/>
