<p id="notice"><%= notice %></p>

<h1>Services#show</h1>


<h2><%= @service.title %></h2>

<%= @centre.name %></br>
<%= @service.price %>€</br>
<%= @service.description %></br>


<%=form_for @booking, url: create_booking_path, method: :post, action: :create do |f|%>
  <%= f.label :nombre_de_personnes%>
  <%= f.number_field :number_of_people%>
  <%=f.hidden_field :rider_id, :value => current_user.id%>
  <%=f.hidden_field :service_id, :value => @service.id%>
  <%=f.submit "Reserver !"%>
<%end%>