<div class="container-fluid bg-edit">
<div class="col-md-3"></div>
  <div class="col-md-6 back-form-edit">
    <h1>Mon compte</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<h2>Modifier mot de passe</h2>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :Nouveau_mot_de_passe %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :confirmation_du_mot_de_passe %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :mot_de_passe_actuel %> <i>(Pour valider les changements)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
  </div>
  <div class="actions">
      <%= f.submit "Mettre à jour", class:'btn btn-success' %>
    </div>

  <% end %>
  </br>

  <h2>Supprimer mon compte</h2>
  <p>Cette action est irréversible et supprime toutes vos données</p>
  <%= button_to "Je confirme la suppression définitive de mon compte",
        registration_path(resource_name), data: { confirm: "Are you sure?" },
        method: :delete, class: "btn btn-sm btn-danger" %>
  </div>
</div>
