<h1>Récapitualif de votre commande</h1>

<h2><%= @service.title %></h2>

<%= link_to "#{@centre.name}", centre_path(@centre)%></br>
<%= @centre.address %></br>
<%= @booking.number_of_people %> personnes</br>
<%= @booking.total_price(@service)  %>€</br>
<p>En cas de questions vous pouvez joindre le centre au : <%= @centre.phone %></p>
<p> paiement</p>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span><%= @booking.total_price(@service)  %>€</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-image="http://s18.postimg.org/rpso4pdv9/stripe_horse.jpg"
          data-name="Paiement Ponéo."
          data-description="Vous ne le regretterez pas"
          data-locale="auto"></script>
<% end %>
<p> map</p>
