<h1>Récapitualif de votre commande</h1>

<h2><%= @service.title %></h2>

<%= @centre.name %></br>
<%= @centre.address %></br>
<%= @booking.number_of_people %> personnes</br>
<%= @booking.number_of_people * @service.price  %>€</br>
<%= @centre.phone %></br>
<p> petit mot !</p>
<p> paiement</p>
<p> map</p>

