<h1>Récapitualif de votre commande</h1>

<h2><%= @service.title %></h2>

<%= link_to "#{@centre.name}", centre_path(@centre)%></br>
<%= @centre.address %></br>
<%= @booking.number_of_people %> personnes</br>
<%= @booking.total_price(@service)  %>€</br>
<%= @centre.phone %></br>
<p> petit mot !</p>
<p> paiement</p>
<p> map</p>

