<%= link_to " Retour ", url_for(:back), class:'btn btn-success btn-return glyphicon glyphicon-arrow-left ' %>
<div class="booking-summary"><h1>Récapitualif de votre commande</h1>




<h2><%= @service.title %></h2>

<%= link_to "#{@centre.name}", centre_path(@centre)%></br>
<%= @centre.address %></br>
<%= @booking.number_of_people %> personnes</br>
<%= @booking.total_price(@service)  %>€</br>
<p>En cas de questions vous pouvez joindre le centre au : <%= @centre.phone %></p>
<p> paiement</p>
<p> map</p>
</div>