
<div class="jumbotron center">
  <div class="row">
    <%= link_to " Retour ", url_for(:back), class:'btn btn-success btn-return glyphicon glyphicon-arrow-left' %>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h3 class="about_me">Mon profil</h3>
            <ul>
                 <li><%= @rider.try(:last_name) %></li>
                 <li><%= @rider.try(:first_name) %></li>
                 <li><%= @rider.try(:nickname) %></li>
                 <li><%= @rider.try(:weight) %></li>
                 <li><%= @rider.try(:tall) %></li>
                 <li><%= @rider.try(:phone) %></li>
                 <li><%= @rider.try(:address) %></li>
                 <li><%= @rider.try(:city) %></li>
                 <li><%= @rider.try(:age) %></li>
                 <li><%= @rider.try(:level) %></li>
                 <li><%= @rider.try(:city) %></li>
                 <li><%= @rider.try(:avatar) %></li>
            </ul>
    </div>

    <div id="my_text"class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <p>Mes réservations</p>
    </div>
  </div>
</div>
<%= link_to "Modifier mon Profil", edit_rider_path(current_user.id)%>
