
<div class="jumbotron center">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h3 class="about_me">Mon profil</h3>
<ul>
             <li><%= @user.try(:last_name) %></li>
             <li><%= @user.try(:first_name) %></li>
             <li><%= @user.try(:nickname) %></li>
             <li><%= @user.try(:weight) %></li>
             <li><%= @user.try(:tall) %></li>
             <li><%= @user.try(:phone) %></li>
             <li><%= @user.try(:address) %></li>
             <li><%= @user.try(:city) %></li>
             <li><%= @user.try(:age) %></li>
             <li><%= @user.try(:level) %></li>
             <li><%= @user.try(:city) %></li>
             <li><%= @user.try(:avatar) %></li>
</ul>
    </div>

    <div id="my_text"class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa doloremque repellat iste asperiores dolores. Perferendis quos, nobis sunt, voluptate quisquam, distinctio quaerat sint eligendi maiores similique est eius et saepe!</p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa doloremque repellat iste asperiores dolores. Perferendis quos, nobis sunt, voluptate quisquam, distinctio quaerat sint eligendi maiores similique est eius et saepe!</p>
    </div>
  </div>
</div>
<%= link_to "Modifier mon Profil", edit_user_path(@user)%>
