<h2>Résultat de votre recherche</h2>

<%= link_to 'Nouvelle recherche',  new_search_path, class:'btn btn-success' %>



<div class="pins" class="transitions-enabled">

  <% @services.each do |service|%>

  <div class="box panel panel-default">
    <h2><%= service.title %></h2>
      <%= image_tag "poneo-8.jpg" %>

      <div class="panel-body">
      <p> price: € <%= service.price%></p> 
      <p> Categorie: <%= service.category %></p>
      <p> Adresse: <%= service.centre.user.address %></p>

      <div class="action">
        <%= link_to 'Réserver', show_service_path(service), class:'btn btn-success'%>
      </div>
     </div>
  </div>
<% end %>
</div>


<div class="pins" class="transitions-enabled">

  <% @search.search_services.each do |service| %>

  <div class="box panel panel-default">
    <h2><%= service.title %></h2>
      <%= image_tag "poneo-8.jpg" %>

      <div class="panel-body">
      <p> price: € <%= service.price%></p> 
      <p> Categorie: <%= service.category %></p>
      <p> Adresse: <%= service.centre.user.address %></p>

      <div class="action">
        <%= link_to 'Réserver', show_service_path(service), class:'btn btn-success'%>
      </div>
     </div>
  </div>
<% end %>
</div>
