
<div class="jumbotron center booking-page">
  <div class="row">
    <%= link_to " Retour ", url_for(:back), class:'btn btn-success glyphicon glyphicon-arrow-left' %>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " id="main-profile">
      <%= image_tag @rider.avatar.avatar.url, :class => "style-avatar" %>
        <h2 class="about-me">Mon profil</h2>

            <ul class="rider-profile">
                <hr>
                 <li><p><span>Nom:</span> <%= @rider.try(:last_name) %></p></li>
                 <li><p><span>Prénom:</span> <%= @rider.try(:first_name) %></p></li>
                 <li><p><span>Pseudo:</span> <%= @rider.try(:nickname) %></p></li>
                 <hr>
                 <li><p><span>Poids:</span> <%= @rider.try(:weight) %>kg</p></li>
                 <li><p><span>Taille:</span> <%= @rider.try(:tall) %>cm</p></li>
                 <li><p><span>Tel:</span> <%= @rider.try(:phone) %></p></li>
                 <li><p><span>Adresse:</span> <%= @rider.try(:address) %></p></li>
                 <li><p><span>Age:</span> <%= @rider.try(:age) %></p></li>
                 <li><p><span>Niveau:</span> <%= @rider.try(:level) %></p></li>
            </ul>
            <hr>
              <%= link_to "Modifier mon Profil", edit_rider_path(current_user.id), class:'btn btn-success btn-profile'%>
    </div><!--main profile-->

    <div id="mybookings"class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div id="incomming-bookings">
            <h2>Mes réservations</h2>
            
            <% if !!@rider_bookings %>
            <ul>
            <% @rider_bookings.each do |booking| %>
                 <%= image_tag "#{booking.service.image1.thumb.url}", class:'image-booking'%>
                <% if booking.current_booking%> 

                    <p><%= link_to "#{booking.service.title}", service_path(booking.service.id), class:'service-link' %> - 
                    <%=booking.service.date.strftime("%d/%m/%Y")%>
                        <%if booking.validation?%>
                            <p id="validated">Validée</p>
                        <%else%>
                            <p id="to-be-validated">En attente de validation</p>
                        <%end%>
                    <%end%>
                <%end%> 
            </ul>
            <%else%>
                <p> Vous n'avez pas encore effectué de réservation </p>
            <%end%>
        </div><!--#incomming-bookings -->

        <div id="old-bookings"class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

        <h2>Mes anciennes réservations</h2>        
            <% @rider_bookings.each do |booking| %>  
            <% if booking.passed_booking%>
                <p><%= booking.service.title.capitalize%> -
                <%= booking.service.date.strftime("%d/%m/%Y")%></p>
            <%end%>
        <%end%>

        </div><!--#old-bookings -->
    </div><!--#my-bookings-->
  </div><!--.row -->
</div><!--.jumbotron -->



