<div class="container-fluid bg-profile">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 profile-content">
      <%= link_to " Retour", url_for(:back), class:'btn btn-success retour' %>

      <%= image_tag @rider.avatar.avatar.url, :class => "style_avatar" %>
          <h1>Mon profil</h1>
            <ul>
                 <li><span>Nom: </span><%= @rider.try(:last_name) %></li>
                 <li><span>Prénom: </span> <%= @rider.try(:first_name) %></li>
                 <li><span>Pseudo: </span><%= @rider.try(:nickname) %></li>
                 <li><span>Age: </span> <%= @rider.try(:age) %></li>
                 <li><span>Niveau: </span> <%= @rider.try(:level) %></li>
            </ul>
            <%= link_to 'Modifier mon profil', edit_rider_path, class:'btn-success modif-button'%>
    </div>
      <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 profile-content" id="up" >
        <h1>Mes reservations</h1>
          <% if !!@rider_bookings %>
          <ul>
                  <% @rider_bookings.each do |booking| %>
                      <% if booking.current_booking%>
                      <%= link_to "#{booking.service.title}", service_path(booking.service.id)%>
                      <%=booking.service.date.strftime("%d/%m/%Y")%>
                      <%if booking.validation?%>
                          <p>Validé</p>
                      <%else%>
                          <p>En attente de validation</div>
                      <%end%>
                  <%end%>
              <%end%>
              </ul>

          <% else %>
           <p> Vous n'avez pas encore effectué de réservation </p>

          <%end%>

      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 profile" id="down">
          <h1>Anciennes reservations</h1>
          <% @rider_bookings.each do |booking| %>
          <% if booking.passed_booking%>
          <%= booking.service.title%></a></br>
          <%= booking.service.date.strftime("%d/%m/%Y")%>
              </p>
          <%end%>
      <%end%>
      </div>
  </div>
</div>
