
<div class="jumbotron center">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " id="main-profile">
      <h3 class="about_me">Mon profil</h3>
      <%= image_tag @rider.avatar.avatar.url, :class => "style-avatar" %>
            <ul class="rider-profile">
                <hr>
                 <li><p><span>Nom:</span> <%= @rider.try(:last_name) %></p></li>
                 <li><p><span>Prénom:</span> <%= @rider.try(:first_name) %></p></li>
                 <li><p><span>Pseudo:</span> <%= @rider.try(:nickname) %></p></li>
                 <hr>
                 <li><p><span>Poids:</span> <%= @rider.try(:weight) %>kg</p></li>
                 <li><p><span>Taille:</span> <%= @rider.try(:tall) %>cm</p></li>
                 <li><p><span>Tel:</span> <%= @rider.try(:phone) %></p></li>
                 <li><p><span>Adresse:</span> <%= @rider.try(:address) %></p></li>
                 <li><p><span>Age:</span> <%= @rider.try(:age) %></p></li>
                 <li><p><span>Niveau:</span> <%= @rider.try(:level) %></p></li>
            </ul>
              <%= link_to "Modifier mon Profil", edit_rider_path(current_user.id), class:'btn btn-success btn-profile'%>
    </div>

    <div id="mybookings"class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div id="incomming-bookings">
      <p>Mes réservations</p>
        <% if !!@rider_bookings %>
            <ul>
                <% @rider_bookings.each do |booking| %>
                    <% if booking.current_booking%>  
                    <%= link_to "#{booking.service.title}", service_path(booking.service.id)%>
                    <%=booking.service.date.strftime("%d/%m/%Y")%>
                </p>
                    <%if booking.validation?%>
                        <p>Validé</p>
                    <%else%>
                        <p>En attente de validation</div>
                    <%end%>
                <%end%>
            <%end%> 
            </ul>
        
        <% else %>
         <p> Vous n'avez pas encore effectué de réservation </p>
            
        <%end%>
         </div>
    <div id="old-bookings"class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <p>Mes anciennes réservations</p>        
            <% @rider_bookings.each do |booking| %>  
            <% if booking.passed_booking%>
            <%= booking.service.title%></a></br>
            <%= booking.service.date.strftime("%d/%m/%Y")%>
                </p>
            <%end%>
        <%end%>

    </div>
    </div>
  </div>

</div>



