<h1>Listing Centres</h1>

<table class="table">
  <thead>
    <tr>

      <th>nom</th>
      <th>ffe</th>
      <th>siret</th>
    </tr>
  </thead>

  <tbody>
    <% @centres.each do |centre| %>
      <tr>
        <td><%=centre.name %></td>
        <td><%=centre.ffe %></td>
        <td><%=centre.siret %></td>
        <td><%= link_to 'Show', centre %></td>
        <td><%= link_to 'Edit', edit_centre_path(centre) %></td>
        <td><%= link_to 'Destroy', centre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Centre', new_centre_path %>
