<p id="notice"><%= notice %></p>

<h1>Listing Centres</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @centres.each do |centre| %>
      <tr>
        <td><%= link_to 'Show', centre %></td>
        <td><%= link_to 'Edit', edit_centre_path(centre) %></td>
        <td><%= link_to 'Destroy', centre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Centre', new_centre_path %>
