<nav class="navbar navbar-fixed-top navbar-default " role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="margin-top:25px;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <%= link_to " Poneo", root_path, class:"navbar-brand"%> -->
      <%= link_to "pONéO !", root_path, {:style=>"color: white; font-family: 'Luckiest Guy', cursive; font-size: 2.6em; padding-left: 30px;", :class => "css_class"}%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
        
        <% if user_signed_in? %>

          <% if current_user.admin? %>
            <%= link_to "Admin", rails_admin_path%>
          <%end%>

          <li style="color:white; padding-top: 16px; padding-left: 30px;">
          Bonjour <strong><%= current_user.centre.try(:name)%></strong>
          <strong><%= current_user.rider.try(:first_name)%>!</strong></li>

          <li><%= link_to "Mon compte", edit_user_registration_path %></li>
            <% if current_user.is_centre? %>
            <li><%= link_to "Mon profil", centre_path(current_user.centre.id)  %></li>
            <%else%>
                <li><%= link_to "Mon profil", rider_path(current_user.rider.id)  %></li>
            <%end%>

          <li><%= link_to "Me déconnecter", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Connexion", new_user_session_path %></li>
          <li><%= link_to "S'inscrire", new_user_registration_path %></li>
        <% end %>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
