<!DOCTYPE html>
<html>
<head>
  <title>Poneo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
  <meta nom="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
</head>
<body>
<div id="flashes">
  <% if flash[:notice] %>
    <p class="alert alert-success" id="flash_notice"><%= flash[:notice] %></p>
    <%= javascript_tag "$('#flash_notice').effect('highlight',{},1000);" %>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>
<%= render 'layouts/header' %>
 <div class="container-fluid">
<%= yield %>

  </div>

<script>
    setTimeout("$('.error_msgs').fadeOut('slow')", 5000)
  </script>
</body>
</html>
